<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>No.</th>
      <th>Nama koin</th>
      <th>Jumlah koin</th>
      <th>Harga koin</th>
      <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < nominals.length; i++){ %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= nominals[i].coinName %></td>
          <td><%= nominals[i].coinQuantity %></td>
          <td><%= nominals[i].price %></td>
          <td>
            <form action="/nominals/delete/<%= nominals[i].id %>?_method=DELETE" method="POST">
              <a href="/nominals/edit/<%= nominals[i].id %>" class="btn btn-info btn-sm">
                <i class="fas fa-pencil-alt"></i>
                Ubah
              </a>
              <button class="btn btn-danger btn-sm">
                <i class="fas fa-trash"></i>
                Hapus
              </button>
            </form>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>